<body id="LoginForm">
  
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-12">
    
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
    
        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-4">
            <h6 class="text-uppercase mb-5 font-weight-bold"><b>Arogya Medical Store</b></h6>
            <p> It is our objective to offer you the best-in-class service and to help achieve that we have a team of experienced 
              pharmacists at our online medicine store to look at each and every order.  </p>
          </div>
          <!-- Grid column -->
    
       
    
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Cities In India</h6>
            <p>
              <a href="#!">Bengaluru</a><br>
              <a href="#!">Chennai</a><br>
              <a href="#!">Trivendram</a><br>
              <a href="#!">Hyderabad</a><br>
            </p>
          </div>
          <!-- Grid column -->
    
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
    
          <a href="https://www.google.com/search?q=facebook&rlz=1C1GCEU_enIN821IN821&oq=facebook&aqs=chrome..69i57j69i59l2.3487j0j4&sourceid=chrome&ie=UTF-8&safe=active"><button type="button" mdbBtn size="lg" class="btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook left"></i>Facebook</button></a>
          <a href="https://www.google.com/search?q=instagram&rlz=1C1GCEU_enIN821IN821&oq=instagram&aqs=chrome..69i57j69i59.2478j0j9&sourceid=chrome&ie=UTF-8&safe=active"><button type="button" mdbBtn size="lg" class="btn-ins waves-light" mdbWavesEffect><i class="fa fa-instagram left"></i>Instagram</button></a>        
          <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><button type="button" mdbBtn size="lg" class="btn-gplus waves-light" mdbWavesEffect><i class="fa fa-google-plus left"></i>Google++</button></a>
  
  </div>
    
         
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p>
              <i class="fas fa-home mr-3"></i>Banglore,INDIA<br>
            
              <i class="fas fa-envelope mr-3"></i>arogyamedicalstore@gmail.com<br>
          
              <i class="fas fa-phone mr-3"></i> + 91 9876542457<br>
           
              <i class="fas fa-print mr-3"></i> + 91 9876542458<br>
            </p>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Footer links -->
    
        <hr>
    
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
    
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8">
    
            <!--Copyright-->
            <p class="text-center text-md-left">© 2019 Copyright:
              <a href="#">
                <strong> Arogya Medical Store</strong>
                </a>
            </p>
          
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0">
    
            <!-- Social buttons -->
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    <p align="center"><b>Yours in Good Health! Happy Shopping!!!!</b></p>
    </footer>
    <!-- Footer -->
    </body>
    