<carousel [noPause]="noPause">

  <slide>
        <img src="assets/tab/vi.jpg" alt="Second slide" style="display: block; width: 100%; height:430px">
        <div class="carousel-caption d-none d-md-block">
          <h3>Avelia Soaps</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </slide>
    <slide>
      <img src="assets/personal/n.jpg" alt="First slide" style="display: block; width: 100%; height:450px">
      <div class="carousel-caption d-none d-md-block">
        <h3>Body Lotions</h3>
        <p>Say hello to deeply moisturized skin with the new NIVEA nourishing lotion body milk with deep moisture serum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/tab/t1.jpg" alt="Second slide" style="display: block; width: 100%; height:430px">
      <div class="carousel-caption d-none d-md-block">
        <h3>Avelia Soaps</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>

    <slide>
        <img src="assets/personal/s5.jpg" alt="Third slide" style="display: block; width: 100%; height:430px">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
    <slide>
      <img src="assets/personal/set2.jpg" alt="Third slide" style="display: block; width: 100%; height:430px">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/personal/l1.jpg" alt="Third slide" style="display: block; width: 100%;height:430px">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
    <slide>
        <img src="assets/baby/b1.jpg" alt="Third slide" style="display: block; width: 100%; height:430px">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </slide>
  </carousel>
  <br/>





<body>
  <!-- MAIN (Center website) -->
<div class="main">

    <h1>Personal Care Products</h1>
    <hr>
    
   <div class="text animated flip"><h2>Our Products</h2></div> 
    <p><b>Look & feel better for less</b></p>
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="assets/personal/n.jpg" alt="Mountains" style="width:100%; height: 140px">
          <h3>Nivea</h3>
          <p>For Smooth Skin</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="assets/personal/n2.jpg" alt="Lights" style="width:100%; height: 140px">
          <h3>Face and Body Cream</h3>
          <p>For Soft and Smooth Skin</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="assets/personal/s3.jpg" alt="Nature" style="width:100%; height: 140px; ">
          <h3>Body Care Products</h3>
          <p>Feel Fresh Look Fresh</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="assets/personal/h1.jpg" alt="Mountains" style="width:100%; height: 120px">
          <h3>Hair Oils</h3>
          <p>Hair Nourishing Oil for Thick and Strong and Long Hair</p>
        </div>
      </div>
    </div>
   
    
    <!-- END MAIN -->
    </div>
    </body>
    <app-pro2></app-pro2>