<body>
    <!-- MAIN (Center website) -->
  <div class="main">
  
      <h1>Baby Care Products</h1>
      <hr>
      
     <div class="text animated flip"><h2>Our Products</h2></div> 
      <p><b>Because Your Child Is Special </b></p>
      
      <!-- Portfolio Gallery Grid -->
      <div class="row">
        <div class="column">
          <div class="content">
            <img src="assets/tab/baby1.jpg" alt="Mountains" style="width:100%; height: 140px">
            <h3>Shishu Care</h3>
            <p>Patanjali Natural Products</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img src="assets/tab/babay2.jpg" alt="Lights" style="width:100%; height: 120px">
            <h3>Jhonson Baby Oils</h3>
            <p>Great for baby massage and parent-baby bonding</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img src="assets/tab/baby3.jpg" alt="Nature" style="width:100%; height: 120px; ">
            <h3>Gerber Baby Care Food</h3>
            <p> Gerber nutritional baby foods that you and your child will love</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img src="assets/tab/baby4.jpg" alt="Mountains" style="width:100%; height: 100px">
            <h3>Pampers</h3>
            <p>Wrap your baby in Pampers Swaddlers diapers, our most trusted comfort and protection</p>
          </div>
        </div>
      </div>
     
      
      <!-- END MAIN -->
      </div>
      </body>
   