
<body>
    <!-- MAIN (Center website) -->
  <div class="main">
  
      <h1>Health Care Products</h1>
      <hr>
     
          <div class="text animated flip"> <h2>Our Products</h2></div>
        
     
      <p>Sound Mind In A Sound Body</p>
      
      <!-- Portfolio Gallery Grid -->
      <div class="row">
        <div class="column">
          <div class="content">
            <img src="assets/tab/t11.jpg" alt="Mountains" style="width:100%; height: 140px">
            <h3>Pills</h3>
            <p>anti depressent</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img src="assets/tab/t12.jpg" alt="Lights" style="width:100%; height: 140px">
            <h3>Midzo</h3>
            <p>health care tablets</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img src="assets/tab/t13.jpg" alt="Nature" style="width:100%; height: 140px; ">
            <h3>Cough Syrups</h3>
            <p>Breathe Fresh</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <img src="assets/tab/t14.jpg" alt="Mountains" style="width:100%; height: 140px">
            <h3>Pain Relief Sprays</h3>
            <p>Fast Relief Sprays</p>
          </div>
        </div>
      </div>
      
     
      <!-- END MAIN -->
      </div>
      </body>




